.homeIndex {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-flow: column;

  &__main {
    flex: 1;
    display: flex;
    justify-content: center;
  }

    &__leftContent {
      padding: 60px 40px 40px 30px;
    }

      &__rightTopContent {
        padding: 60px 30px 30px 40px;
      }

      &__rightBottomContent {
        padding: 30px 30px 40px 40px;
      }

      &__comments {
        max-height: 370px;
        margin-top: 20px;
        overflow-y: scroll;
      }
  }