.homeIndex {

  &__main {
    display: flex;
    justify-content: center;
  }

    &__leftContent {
      padding: 60px 40px 40px 30px;
    }

      &__rightTopContent {
        padding: 60px 30px 30px 40px;
      }

      &__rightBottomContent {
        padding: 30px 30px 40px 40px;
      }

      &__comments {
        max-height: 237px;
        margin-top: 20px;
        overflow-y: scroll;
      }
  }
