$(".eventsShow__participants").html("#{j(render partial: 'events/participant',collection: @event.users, as: "participant")}");
$(".eventsShow__participationBtnBox").html("#{j(render partial: 'events/participationBtn',locals: {event: @event, participant: @participant})}");
