.eventPlanner
  .eventPlanner__dateBox
    %p.eventPlanner__date 4/10 (金)
    %p.eventPlanner__time 19:00 〜 21:00
    .eventPlanner__label もうすぐ
  .eventPlanner__contentBox
    .eventPlanner__imageBox
      = link_to root_path do
        = image_tag "sample2.jpg", alt: "sample1", class: "eventPlanner__image"
    .eventPlanner__descriptionBox
      = link_to "2020年度 〜新人歓迎会〜", root_path, class: "eventPlanner__title" 
      %ul.eventPlanner__detail
        %li.eventPlanner__restaurant
          %span ・会場：&nbsp;
          %span 居酒屋hogehoge 下北沢店
        %li.eventPlanner__planner
          %span ・幹事：&nbsp;
          %span Tanaka Taro
        %li.eventPlanner__participants
          %span ・参加人数：&nbsp;
          %span 24人
  = link_to "編集", root_path, class: "eventPlanner__EditBtn"