%footer.footer
  %p.footer__copyRight Copyright © 2020 Kodai Fujita All Rights Reserved.

  .footer__share
    %ul.footer__shareList
      %li.footer__shareTitle Follow me on
      %li.footer__facebook
        = link_to "https://www.facebook.com/fujita.kodai", class: "footer__facebookLink" do
          %i.fab.fa-facebook-f.footer__facebookIcon
          %p.footer__facebookText Facebook
      %li.footer__twitter
        = link_to "https://twitter.com/fjt_kodai", class: "footer__twitterLink" do
          %i.fab.fa-twitter.footer__twitterIcon
          %p.footer__twitterText Twitter