%ul.functions
  %li 
    = link_to "飲み会を企画する", root_path, class: "functions__function"
  %li 
    = link_to "飲み会に参加する", root_path, class: "functions__function"
  %li 
    = link_to "過去のお店を調べる", root_path, class: "functions__function"

