.introduction
  = image_tag "introduction_background.jpg", alt: "introduction_photo", class: "introduction__image" # あとでサイズ差し替え
  .introduction__contents
    .introduction__catchCopy
      %h2.introduction__mainCopy 定時の後は、酒を飲もう。
      %h3.introduction__subCopy 誰もが楽しめる飲み会のために、幹事と参加者をサポートします。
    = link_to "新規登録", root_path, class: "introduction__registerBtn"
