- if user_signed_in?
  - if event.users.ids.include?(current_user.id)
    = link_to "参加を取り消す", participant_path(participant.id), method: :delete, remote: true, class: "eventsShow__participationBtn"
  - elsif current_user.id != event.organizer.id
    = link_to "参加する", participants_path(event_id: event.id), method: :post, remote: true, class: "eventsShow__participationBtn"
- else
  -# = link_to "参加する", participants_path(event_id: event.id), method: :post, remote: true, class: "eventsShow__participationBtn"
  .eventsShow__participationNote
    %span 飲み会に参加するには
    = link_to "ログイン", new_user_session_path
    %span もしくは
    = link_to "新規登録", new_user_registration_path
    %span してください。

