.comment {
  padding: 10px 0;
  width: 260px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 240px;
    height: 1px;
    background-color: $color_grey-thin_border;
  }

  &__infoBox {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    margin-bottom: 6px;
  }

    &__userBox {
      display: flex;
      align-items: center;
    }

      &__userIcon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-right: 6px;
      }

      &__userName {
        color: $color_grey-text;
        font-weight: bold;
      }

    &__date {
      color: $color_grey-text;
    }
  
  &__content {
    margin-bottom: 6px;
  }

  &__eventTitleBox {
    display: flex;
    color: $color_grey-text;
  }

  &__eventTitle {
    @include link_style ();
    color: $color_grey-text;
  }
}