.footer {
  background-color: $color_orange-main;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color_white;
  font-size: 12px;

  &__copyRight {
    font-weight: bold;
    margin-right: 30px;
  }

  &__share {
    min-width: 240px;
  }

    &__shareList {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

      &__shareTitle {
        font-weight: bold;
      }

        &__facebookLink {
          display: flex;
          align-items: center;
          color: $color_white;
          text-decoration: none;
          transition: all .2s;

          &:hover {
            color: $color_blue-facebook;
          }
        }

        &__facebookText {
          margin-left: 5px;
          font-weight: bold;
        }

        &__twitterLink {
          display: flex;
          align-items: center;
          color: $color_white;
          text-decoration: none;
          transition: all .2s;
  
          &:hover {
            color: $color_lightblue-twitter;
          }
        }

        &__twitterText {
          margin-left: 5px;
          font-weight: bold;
        }
}
