.functions {
  height: 200px;
  width: 290px;
  background-color: $color_grey-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;

  &__function {
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    @include linkStyle ();
  }
}