.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  min-width: 620px;
  background-color: $color_white;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $color_grey-thin_border;

  &__logo {
    margin-right: 30px;
  }

    &__logoImage {
      width: 125px;
      height: 30px;
      display: block;
      background-color: $color_orange-main;
      margin-bottom: 4px;
    }

  &__searchForm {
    position: relative;
  }

    &__searchField {
      width: 260px;
      height: 26px;
      padding: 0 36px 0 14px;
      border-radius: 20px;
      box-shadow: none;
      font-size: 12px;
      border: 1px solid $color_grey-thin_border;
      background-color: $color_grey-box;
      transition: all .2s;

      &:focus {
        border: 1px solid $color_orange-main;
        outline: 0;
        background-color: $color_white;
      }
    }

    &__searchBtn{
      position: absolute;
      top: 4px;
      right: 8px;
      background-color: transparent;
      border: none;
      padding: 0px 4px;
      font-size: 16px;
      @include linkStyle ();
      color: $color_grey-text;
    }

  &__login {
    position: absolute;
    right: 30px;
  }

    &__loginBtn {
      font-size: 12px;
      @include linkStyle ();
    }

    &__loginPartition {
      color: $color_black-text;
      font-size: 12px;
    }

    &__RegisterBtn {
      font-size: 12px;
      @include linkStyle ();
    }

  &__user {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
  }

    &__userIcon {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &__userName {
      height: 22px;
      line-height: 22px;
      font-size: 13px;
      margin-top: 2px;
    }
}