.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  min-width: 620px;
  background-color: $color_white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $color_grey-thin_border;

  &__leftContent {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 40px;
  }

    &__logoImage {
      width: 125px;
      height: 30px;
      display: block;
      background-color: $color_orange-main;
      margin-bottom: 4px;
    }

  &__searchForm {
    position: relative;
    margin-right: 40px;
  }

    &__searchField {
      width: 260px;
      height: 26px;
      padding: 0 36px 0 14px;
      border-radius: 20px;
      box-shadow: none;
      font-size: 12px;
      border: 1px solid $color_grey-thin_border;
      background-color: $color_grey-box;
      transition: all .2s;

      &:focus {
        border: 1px solid $color_orange-main;
        outline: 0;
        background-color: $color_white;
      }
    }

    &__searchBtn{
      position: absolute;
      top: 4px;
      right: 8px;
      background-color: transparent;
      border: none;
      padding: 0px 4px;
      font-size: 16px;
      @include linkStyle ();
      color: $color_grey-text;
    }

    &__navMenu {
      display: flex;
      align-items: center;
    }
    &__navContent {
      font-size: 14px;
      font-weight: bold;
      margin-right: 26px;
      color: $color_orange-main;
      transition: all .2s;

      &:hover {
        background: linear-gradient(transparent 70%, $color_grey-box 70%);
      }
    }

    &__loginBtn {
      display: inline-block;
      font-size: 12px;
      @include linkStyle ();
    }

    &__loginPartition {
      display: inline-block;
      color: $color_black-text;
      font-size: 12px;
    }

    &__RegisterBtn {
      display: inline-block;
      font-size: 12px;
      @include linkStyle ();
    }


  &__user {
    min-width: 120px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    }

  &__userBox {
    height: 100%;
    display: flex;
    align-items: center;

    &:hover > .header__userBox__Menu {
      visibility: visible;
      opacity: 1;
    }
  }

    &__userIcon {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &__userName {
      height: 22px;
      line-height: 22px;
      font-size: 13px;
      margin-top: 2px;

      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-bottom: 2px;
        margin-left: 8px;
        border-right: 1px solid $color_black-text;
        border-bottom: 1px solid $color_black-text;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &__userBox__Menu {
      position: absolute;
      top: 60px;
      right: -10px;
      min-width: 130px;
      width: 100%;
      background-color: $color_grey-box;
      -webkit-transition: all .2s;
      transition: all .2s;
      visibility: hidden;
      opacity: 0;
    }

        &__userMenuContent {
          border-top: solid 1px $color_white;
          display: block;
          text-align: center;
          font-size: 10px;
          line-height: 40px;
          height: 40px;

          &:hover {
            background-color: $color_orange-main;
          }
        }
}

