.snsAuth {

display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-between;
padding: 0 80px;
height: 120px;

  a {
    display: block;
    width: 260px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: $color_white;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 4px;
  }

  &__slackLink {
    background-color: rgb(71, 35, 138);
  }

  &__githubLink {
    background-color: rgb(44, 44, 44);
  }

  &__facebookLink {
    background-color: rgb(57, 81, 214);
  }

  &__twitterLink {
    background-color: rgb(44, 135, 255);
  }

  &__icon {
    margin-right: 20px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    float: left;
  }
}