.eventsNew {

  &__backGround {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  z-index: 20;
  }

  &__modal {
    position: fixed;
    background-color: $color_white;
    width: 517px;
    height: 650px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto 0;
    border: 1px solid #eee;
    z-index: 30;
  }

    &__image {
      margin-left: -1px;
    }

    &__form {
      width: 420px;
      padding: 60px 0;
      margin: 0 auto;
      border-top: 1px solid $color_grey-border;
    }

    &__titleLabel {
      display: block;
      text-align: center;
      font-size: 16px;
      margin-bottom: 30px;
      font-weight: bold;
    }

    &__titleField {
      display: block;
      width: 300px;
      height: 50px;
      margin: 0 auto;
      padding-left: 20px;
      margin-bottom: 40px;
      font-size: 13px;
      @include form_style ();
      @include placeholder_color($color_grey-text);
    }

    &__submitBtn {
      display: block;
      width: 200px;
      height: 40px;
      margin: 0 auto;
      background-color: $color_orange-main;
      color: $color_white;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px;
      border-style: none;
      outline: none;
    }
}

