* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color_white;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  color: $color_black-text;
  text-size-adjust: 100%;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}

fieldset,
img {
  border:0;
}

ol,
ul {
  list-style:none;
}

a {
  text-decoration: none;
  color: $color_black-text;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-flow: column;
}

.main {
  flex: 1;
}