@import "config/variable";
@import "mixin/linkStyle";
@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color_white;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  color: $color_black-text;
  text-size-adjust: 100%;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

@import "modules/header";
@import "modules/footer";
@import "modules/introduction";
@import "modules/event";
@import "modules/eventPlanner";
@import "modules/functions";
@import "modules/comment";
@import "modules/title";
@import "modules/bottomLink";
@import "modules/user";

@import "home/index";
@import "users/index";
