/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fullcalendar
 */

@import "config/variable";
@import "mixin/linkStyle";
@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color_white;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  color: $color_black-text;
  text-size-adjust: 100%;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

@import "modules/header";
@import "modules/footer";
@import "modules/introduction";
@import "modules/event";
@import "modules/eventPlanner";
@import "modules/functions";
@import "modules/comment";
@import "modules/title";
@import "modules/bottomLink";
@import "modules/user";
@import "modules/calendar";

@import "home/index";
@import "users/index";
