.usersShow {
  align-items: center;

  &__image {
    margin-right: 14px;
  }

  &__main {
    display: flex;
    justify-content: center;
  }

    &__leftContent {
      padding: 60px 40px 40px 30px;
    }

      &__leftTopContent {
        margin-bottom: 60px;
      }

      &__leftMiddleContent {
        margin-bottom: 60px;
      }

      &__rightTopContent {
        padding: 60px 30px 30px 40px;
      }

      &__rightBottomContent {
        padding: 30px 30px 40px 40px;
      }

      &__comments {
        max-height: 468px;
        margin-top: 20px;
        overflow-y: scroll;
      }
  }
